.container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0px;
    
}

.container h1{
    text-align:center;
    margin:20px 0px;
    font-size: 60px;
    
}

#value{
    text-align: center;
    font-size: 60px;
    margin: 20px 0;
}

.container button {
    margin:0 20px 0 0;
}

#increase{
    margin:0;
}





